#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media

# Use graphical install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda

%include /tmp/network.ks

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
reboot
# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --hostname=localhost.localdomain --activate

# Root password
# Lock Root account by default
rootpw --lock

sshkey --username=root "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDFGFZ263GDgvBo3ZGv/22Ut8/w0u6kqmG59rYXGmWRv24DHtlDh+zVZFcINs9DhnshpWetsBb8sgGP4rel4uc94K6XXfRx8AZ0cYXMOeEGBcu7Qm5QkRrex10KWqbcnULkeawfunc+HsqFRIiZBmQJcwZz8OqjHZW4Bd2z/XScn1vXscMMSNYSi/Se84OEVb1EEqxCT4/+grrgG36B60J7suzAYt7thwhL6mp4H0caNTVd3NVAcZ0fo3Hu/WZDHtJF4cmsiHC6R5mcT/l+tsiMMDDwczehlbObVpkr+oLc8vWxBh8qodtOTQI/BaEqKcCogyY+93wQGE5bb4ooFB17dHxTZxVOR6s2YQlBqt3ypF1NQJuvmucbI3M7wmZwlKlwIafTPY/hvtsTYwSJkiM3SueVjVgzUbAufwPHrCvigzlROJGRxVh8Tgjo9ZQ89VDb1s0pssH45yuWJYqDG/PIlneUgzu15dk8kg8zyEnMVy4hatxV/hxk2y8TgAOJRF0= leon@medusa-arch"
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Kolkata --isUtc
# X Window System configuration information
skipx
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
#part /boot --fstype="xfs" --ondisk=vda --size=500
#part pv.198 --fstype="lvmpv" --ondisk=vda --size=30219
#volgroup centos --pesize=4096 pv.198
#logvol swap  --fstype="swap" --size=4072 --name=swap --vgname=centos
#logvol /home  --fstype="xfs" --size=5120 --name=home --vgname=centos
#logvol /  --fstype="xfs" --size=21024 --name=root --vgname=centos
autopart --type=lvm

%packages
@base
@core
@development
@dial-up
@fonts
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
vim
tmux
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%pre
#!/bin/sh

echo "network --device eth0 --bootproto dhcp --hostname localhost.localdomain" > /tmp/network.ks

for x in `cat /proc/cmdline`; do
        case $x in SERVERNAME*)
               eval $x
        echo "network --device eth0 --bootproto dhcp --hostname ${SERVERNAME}" > /tmp/network.ks
                ;;
            esac;
    done
%end


%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
